#block-views-world-news-block-1 {
float: none;
overflow:hidden;
width: 100%;
}

.view-world-news .views-row .views-field-field-blog-image {
display:none;
margin-bottom: 10px;
}

.view-world-news .views-row-first .views-field-field-blog-image{
	display:block;
}

#block-block-9{
	display:inline-block;
	float:right;
	margin-top:18px;
}

/*Ediciones Views*/
.view-ediciones .views-row{
	border-bottom:1px dashed #ccc;
	padding:10px 0;
}
.view-ediciones .views-row .taxonomy-term h2 {
	margin:0;
}
.view-ediciones .views-row .taxonomy-term h2 a {
	font-size:11pt;
	font-weight:normal;
	text-decoration:none;
}

.view-ediciones .views-row .taxonomy-term h2 a:hover {
	text-decoration:underline;
}

.view-ediciones .views-row p,
.view-ediciones .views-row .taxonomy-term-description {
	margin:0;
}

/*Footer*/
#footer .content p {
	color:#222;
	text-align: justify;
	font-size:11px;
}

#footer .content p .rtcenter {
	text-align: center;
}

/*Bloque follow us*/
#block-follow-site {
	width: 100%;
}

#block-follow-site div.follow-links {
	padding-left:40px;
}

#block-follow-site div.follow-links .follow-link-wrapper {
	border:0;
	width: 20px;
	float:left;
	margin:8px;
}

#block-follow-site a.follow-link{
	display:block;
	text-indent:10000px;
	overflow:hidden;
	float:none;

}

#block-views-in-pictures-block {
	overflow:hidden;
	margin-top:15px;
}

/*quicktabs*/
#block-quicktabs-maintop {
width: 306px;
float: none;
}

/*Pictures*/
.view-in-pictures .views-field-field-images .item-list li {
float: left;
margin: 0 8px 8px 0;
padding: 2px;
background: none;
width: auto !important;
}

/*Front*/
.view-id-ig_front{}
.view-id-ig_front .views-row{
	border-bottom:1px solid #ddd;
	overflow:hidden;
	clear:both;
	margin:9px 0;
	padding:10px 0;
}
.view-id-ig_front .views-row .views-field-field-image{
	float:left;
	margin-right:10px;
}
.view-id-ig_front .views-row .views-field-title{}
.view-id-ig_front .views-row .views-field-field-autores {
}
.view-id-ig_front .views-row .views-field-field-autores div.field-content{
	display:inline-block;
	color:#666;
	font-style: italic;
}
.view-id-ig_front .views-row .views-field-field-autores div.field-content span.labelautores{
	font-style: none;
	color:#333;
}

.view-id-ig_front .views-row .views-field-body {}
