#block-views-world-news-block-1 {
float: none;
overflow:hidden;
width: 100%;
}

.view-world-news .views-row .views-field-field-blog-image {
display:none;
margin-bottom: 10px;
}

.view-world-news .views-row-first .views-field-field-blog-image{
	display:block;
}

#block-block-9{
	display:inline-block;
	float:right;
	margin-top:18px;
}

/*Ediciones Views*/
.view-ediciones .views-row{
	border-bottom:1px dashed #ccc;
	padding:10px 0;
}
.view-ediciones .views-row .taxonomy-term h2 {
	margin:0;
}
.view-ediciones .views-row .taxonomy-term h2 a {
	font-size:11pt;
	font-weight:normal;
	text-decoration:none;
}

.view-ediciones .views-row .taxonomy-term h2 a:hover {
	text-decoration:underline;
}

.view-ediciones .views-row p,
.view-ediciones .views-row .taxonomy-term-description {
	margin:0;
}

/*Footer*/
#footer .content p {
	color:#222;
	text-align: justify;
	font-size:11px;
}

#footer .content p .rtcenter {
	text-align: center;
}

/*Bloque follow us*/
#block-follow-site {
width: 100%;
}

#block-follow-site div.follow-links {
	padding-left:40px;
}

#block-follow-site div.follow-links .follow-link-wrapper {
	border:0;
	width: 20px;
	float:left;
	margin:8px;
}

#block-follow-site a.follow-link{
	display:block;
	text-indent:10000px;
	overflow:hidden;
	float:none;

}